<?xml version="1.0" encoding="UTF-8"?>

<phpunit
        colors="true"
        backupGlobals="false"
        backupStaticAttributes="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="General Test Suite for Wrike PHP SDK">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    
</phpunit>
